body {
    background-image: url('../img/black-linen.png');
}

.jumbotron {
    background-image: url('../img/rainbow.jpeg');
    text-align: center;
    border: black;
}

.sidebar {
    background-color: white;
    width: 30%;
    float: left;
    border-color: black;
    border-radius: 10%;
    border-style: groove;
    padding: 5px;
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.column1 {
    width: 300px;
    float: left;
    padding: 5px;
}

.column1 img {
    width: 300px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
}

.column2 {
    width: 300px;
    float: right;
    padding: 5px;
}