body {
    background-image: url('../img/black-linen.png');
}

.jumbotron {
    background-image: url('../img/rainbow.jpeg');
    text-align: center;
    border: black;
}

.sidebar {
    background-color: white;
    width: 30%;
    float: left;
    border-color: black;
    border-radius: 10%;
    border-style: groove;
    padding: 5px;
}

.center {
    text-align: center;
}